{% extends "partials/question.template" %}

{% block body %}
    <!-- Empty -->
{% endblock %}

{% block scoring %}
    <!-- Empty -->
{% endblock %}

{% block feedback %}
    <!-- Empty -->
{% endblock %}
