{% extends "partials/question.template" %}

{% block directions %}
    Place your answer within the text area below.
{% endblock %}

{% block body %}
    {% set solution = question.answers[0].clean if answer_key else '' %}
    <textarea name='answer-{{ question.id }}' id='answer-{{ question.id }}'>{{ solution }}</textarea>
{% endblock %}
