{% extends "partials/question.template" %}

{% block directions %}
    Place your answer within the textbox below.
{% endblock %}

{% block body %}
    {% set solution = question.answers.solution if answer_key else '' %}
    <input type='text' name='answer-{{ question.id }}' id='answer-{{ question.id }}' value='{{ solution }}' />
{% endblock %}
