[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools",
    "twine"
]

[project]
name = "eq-quizgen"
version = "0.0.1"
description = "A tool that can generate both Canvas quizzes and LaTeX files from a common configuration."
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}

authors = [
    {name = "Eriq Augustine", email = "eaugusti@ucsc.edu"},
]

keywords = ['education', 'quiz', 'canvas', 'tex', 'latex']
classifiers = [
    'Intended Audience :: Education',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.8',
]

dependencies = [
    "GitPython>=3.1",
    "lark>=1.1.8",
    "requests>=2.31.0",
]

[project.urls]
Homepage = "https://github.com/eriq-augustine/quizgen"
Repository = "https://github.com/eriq-augustine/quizgen"

[tool.setuptools.packages.find]
where = ["."]
include = ["quizgen"]
exclude = ["node_modules"]
namespaces = false
