%%% BEGIN Question {{{{QUESTION_NUMBER}}} -- {{{QUESTION_NAME}}}} %%%

\vspace{1cm}

\begin{minipage}{\textwidth}

{{{QUESTION_HEADER}}}

{{{QUESTION_BODY}}}

\end{minipage}

%%% END Question {{{{QUESTION_NUMBER}}} -- {{{QUESTION_NAME}}}} %%%
