<% extends "partials/question.template" %>

<% block directions_text %>
    Place your answer within the boxed region below.
<% endblock %>

<% block body %>
    \bigAnswerBox{2cm}{1.0}{sa}{<< question.id >>}{0}{0}
<% endblock %>
