%%% BEGIN Question {{{{QUESTION_NUMBER}}} -- {{{QUESTION_NAME}}}} %%%

\begin{minipage}{\textwidth}
    \noindent
{{{QUESTION_HEADER}}}
    \vspace{0.25cm}

{{{QUESTION_BODY}}}
\end{minipage}

%%% END Question {{{{QUESTION_NUMBER}}} -- {{{QUESTION_NAME}}}} %%%
