<section ident="group_{{ group.id }}" title="{{ group.name }}">
    <selection_ordering>
        <selection>
            <selection_number>{{ group.pick_count }}</selection_number>
            <selection_extension>
                <points_per_item>{{ group.points }}</points_per_item>
            </selection_extension>
        </selection>
    </selection_ordering>
    {{ questions_text }}
</section>
