<% extends "partials/question.template" %>

<% block directions_text %>
    Place your answer within the boxed region on the next page.
<% endblock %>

<% block body %>
    <% set solution = question.answers.solution if answer_key else '' %>

    \end{minipage}
    \newpage
    \begin{minipage}{\textwidth}

    \calcremainingheight
    \bigAnswerBox[<< solution >>]{\remainingheight}{1.0}{essay}{<< question.id >>}{0}{0}
<% endblock %>
