{% if question.custom_header is none %}
:: Question {{ question.number }} ({{ question.points }} Points) ::
{% elif question.custom_header != '' %}
:: {{ question.custom_header | gift_compact }} ::
{% else %}
// No Header.
{% endif %}
[markdown]
{{ question.prompt_text | gift_compact }}
{% block directions %}{% endblock %}
{% block body required %}{% endblock %}
