    \noindent
    {{{QUESTION_PROMPT}}}

    \vspace{0.25cm}
    Fill in all boxes that corresponds to your answers.
    \vspace{0.25cm}

    \begin{center}
        \begin{tabular}{ m{10mm} p{12cm} }
{{{QUESTION_ANSWERS}}}
        \end{tabular}
    \end{center}
