    \noindent
    {{{QUESTION_PROMPT}}}

    \vspace{0.25cm}
    Fill in the circle that corresponds to your answer.
    \vspace{0.25cm}

    \begin{center}
        \begin{tabular}{ >{\centering\arraybackslash}m{0.06\textwidth} m{0.80\textwidth} }
{{{QUESTION_ANSWERS}}}
        \end{tabular}
    \end{center}
